[submodule "FilterManager"]
	path = FilterManager
	url = git@github.com:nesl/FilterManager.git
[submodule "RuleGenerator"]
	path = RuleGenerator
	url = git@github.com:nesl/PrivacyRuleGenerator.git
[submodule "SensorRateTest"]
	path = SensorRateTest
	url = git@github.com:chenguangshen/SensorTest.git
[submodule "SensorDump"]
	path = SensorDump
	url = git@github.com:nesl/SensorDump.git
[submodule "platform_frameworks_native"]
	path = platform_frameworks_native
	url = git@github.com:nesl/platform_frameworks_native.git
[submodule "platform_frameworks_base"]
	path = platform_frameworks_base
	url = git@github.com:nesl/platform_frameworks_base.git
