[submodule "SensorDump"]
	path = SensorDump
	url = git@github.com:nesl/SensorDump.git
[submodule "platform_frameworks_native"]
	path = platform_frameworks_native
	url = git@github.com:nesl/platform_frameworks_native.git
[submodule "platform_frameworks_base"]
	path = platform_frameworks_base
	url = git@github.com:nesl/platform_frameworks_base.git
[submodule "FirewallManager"]
	path = FirewallManager
	url = git@github.com:nesl/FirewallManager.git
