<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucla.ee.nesl.privacyfilter.filtermanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.ucla.ee.nesl.privacyfilter.filtermanager.AppListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ucla.ee.nesl.privacyfilter.filtermanager.AppDetailActivity"
            android:label="@string/title_app_detail"
            android:parentActivityName="edu.ucla.ee.nesl.privacyfilter.filtermanager.AppListActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppListActivity" />
        </activity>
    </application>

</manifest>
